<p id="notice"><%= notice %></p>

<p>
  <strong>配達個数:</strong>
  <%= @post.number %>
</p>

<p>
  <strong>追記事項:</strong>
  <%= @post.content %>
</p>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '戻る', posts_path %>
